<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>莞工食堂</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css"/>
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/order.css"/>
</head>
<body>
<div id="order" class="app">
    <div class="divHead">
        <div class="divTitle">
            <i class="el-icon-arrow-left" @click="goBack"></i>
        </div>
    </div>
    <div class="divBody" v-if="orderList.length > 0">
        <van-list
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
                @load="getList"
        >
            <van-cell v-for="(order,index) in orderList" :key="index" class="item">
                <div class="timeStatus">
                    <span>{{order.checkoutTime}}</span>
                    <span v-if="order.delivery === 2">{{getStatus(order.status)}}</span>
                    <span v-else-if="order.status === 2">制作中</span>
                    <span v-else-if="order.status !== 6" @click="showQRCodeDialog(order.windowNumber)">查看取餐码</span>
                    <span v-else>已完成</span>
                    <!-- <span>正在派送</span> -->
                </div>
                <div class="dishList">
                    <div v-for="(item,index) in order.orderDetails" :key="index" class="item">
                        <span>{{item.name}}</span>
                        <span>x{{item.number}}</span>
                    </div>
                </div>
                <div class="result">
                    <div><span>预计送达：</span><span>{{order.orderTime}}</span></div>
                    <div><span>共{{order.sumNum}} 件商品,实付</span><span class="price">￥{{order.amount}}</span></div>
                </div>
                <div class="btn">
                    <div class="btnAgain" @click="commentDish(order.id)">评论</div>
                </div>
                <!--                <div class="btn" v-if="order.status === 4">-->
                <!--                    <div class="btnAgain" @click="addOrderAgain(order)">再来一单</div>-->
                <!--                </div>-->
            </van-cell>
        </van-list>
    </div>
    <div class="divNoData" v-else>
        <div class="divContainer">
            <img src="./../images/no_order.png"/>
            <div>暂无订单</div>
        </div>
    </div>
    <van-dialog v-model="orderDialog.show"
                :class="orderDialog"
                v-if="orderDialog.show"
                :show-cancel-button="true"
                @confirm="commitComment"
    >
        <div class="divContainer">
            <div v-for="(item,index) in orderDialog.items" :key="index" class="dialogItem">
                <div class="dialogItemTop">
                    <van-image :src="imgPathConvert(item.image)" width="88rem" height="88rem">
                        <div slot="error" class="image-slot">
                            <img src="../images/noImg.png">
                        </div>
                    </van-image>
                    <div>
                        <van-rate v-model="item.rate" @change="changeDishRate(item.rate,item.dishId)"
                                  style="margin-top: 32rem;margin-left: 39rem"></van-rate>
                        <div class="dialogItemName" style="margin-top: 10rem;font-size: 13rem;text-align: center">
                            {{item.name}}
                        </div>
                    </div>

                </div>
                <!--                <div class="dialogItemDown">-->


                <!--                </div>-->
            </div>
            <van-field
                    v-model="orderComment"
                    autosize
                    type="textarea"
                    maxlength="50"
                    placeholder="请输入评价"
                    show-word-limit
            />
        </div>

    </van-dialog>
    <van-popup
            v-model="showQRCode"
            get-container=".divBody"
    >
        <!--                :show-confirm-button="false"-->

        <div id="qrCode"></div>
        <div class="winDowNumber">{{qrCodeNumber}}</div>
    </van-popup>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant组件 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/order.js"></script>
<script src="./../js/common.js"></script>
<script src="./../js/qrcode.min.js"></script>
<script>

    new Vue({
        el: "#order",
        data() {
            return {
                paging: {
                    page: 1,
                    pageSize: 5
                },
                orderList: [],
                loading: false,
                finished: false,
                isDelivery: true,
                orderDialog: {
                    show: false,
                    items: []
                },
                // rateValue: 3,
                orderComment: '',
                showQRCode: false,
                qrCodeNumber: ''
            }
        },
        computed: {},
        created() {
            this.initData()
        },
        mounted() {
        },
        methods: {
            goBack() {
                const url = document.referrer
                //表示是从订单页面跳转过来的
                if (url.includes('success')) {
                    window.requestAnimationFrame(() => {
                        window.location.href = '/front/index.html'
                    })
                } else {
                    history.go(-1)
                }
            },
            async commitComment() {
                const res = submitOrderComment({id: this.orderDialog.items[0].orderId, comment: this.orderComment});
                if (res.code === 0) {
                    this.$notify({type: 'warning', message: res.msg});
                } else {

                }
            },
            changeDishRate(value, dishId) {
                let res = changeDishRateApi({dishId: dishId, rate: value});
                if (res.code === 0) {
                    this.$notify({type: 'warning', message: res.msg});
                }
            },
            initData() {
                this.getList()
            },
            async getList() {
                if (this.finished) {
                    this.loading = false;
                    return
                }
                const res = await orderPagingApi(this.paging)
                if (res.code === 1) {
                    this.orderList.push(...res.data.records)
                    let records = res.data.records
                    if (records && Array.isArray(records)) {
                        records.forEach(item => {
                            let number = 0
                            item.orderDetails.forEach(ele => {
                                number += ele.number
                            })
                            item.sumNum = number
                        })
                    }
                    this.loading = false;
                    if (this.paging.page >= res.data.pages) {
                        this.finished = true;
                    }
                    this.paging.page = this.paging.page + 1
                } else {
                    this.$notify({type: 'warning', message: res.msg});
                }
            },
            async addOrderAgain(order) {
                const res = await orderAgainApi({id: order.id})
                if (res.code === 1) {
                    window.requestAnimationFrame(() => {
                        window.location.href = '/front/index.html'
                    })
                } else {
                    this.$notify({type: 'warning', message: res.msg});
                }
            },
            async commentDish(id) {
                const res = await queryOrderDtoById({id: id})
                if (res.code === 1) {
                    this.orderDialog.items = res.data.orderDetails
                    this.orderDialog.show = true
                    this.orderComment = res.data.comments
                }
            },
            showQRCodeDialog(windowNumber) {
                this.showQRCode = true
                this.qrCodeNumber = windowNumber
                this.$nextTick(() => {
                    let qrcodeEL = document.getElementById("qrCode");
                    let qrcode = new QRCode(qrcodeEL);
                    document.getElementById("qrCode").innerHTML = "";

                    this.getQRCode(windowNumber)
                })
            },
            getQRCode(windowNumber) {
                var qrcode = new QRCode('qrCode', {
                    text: windowNumber.toString(),
                    width: 256,
                    height: 256,
                    colorDark: '#000000',
                    colorLight: '#ffffff',
                    correctLevel: QRCode.CorrectLevel.H
                })
            },
            //网络图片路径转换
            imgPathConvert(path) {
                return imgPath(path)
            },
            getStatus(status) {
                let str = ''
                switch (status) {
                    case 1:
                        str = '待付款'
                        break;
                    case 2:
                        str = '待派送'
                        break;
                    case 3:
                        str = '正在派送'
                        break;
                    case 4:
                        str = '已完成'
                        break;
                    case 5:
                        str = '已取消'
                        break;

                }
                return str
            }
        }
    })
</script>
</body>
</html>